<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="Database" connectionString="Server=172.27.32.30;Port=5432;User id=pqm;password=dbuser;Database=jig_ctrl_kk13;" />
  </connectionStrings>
  <appSettings>
    <!--API-->
    <add key ="APIurl" value="http://10.10.100.124/kk13/rms-ng/api/resource"/>
    <add key="ContentType" value="application/json"/>
    <!--界面下拉框-->
    <add key="DataTypeID" value="JIG_C_COMMON,JIG_TAB_S,JIG_HOT_BAR,JIG_C_COIL,JIG_INNER,JIG_TAB_EW,JIG_TUB_WEIGHT,JIG_INNER_MOUNT,JIG_DOCKING,JIG_B_COMMON,JIG_B_COIL"/>
    <add key="Line" value="L02,L03,L04,L05,L06"/>
  </appSettings>
</configuration>